Project/Service References/GovermentSaleServices/GovermentIdSaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://pec.Shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService">
      <s:element name="SalePaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientSaleRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSaleRequestData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentRequestDataBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentRequestDataBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CallBackUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Originator" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalePaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalePaymentRequestResult" type="tns:ClientSaleResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSaleResponseData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentResponseDataBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentResponseDataBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:short" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SalePaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SalePaymentRequest" />
  </wsdl:message>
  <wsdl:message name="SalePaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SalePaymentRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="GovermentIdSaleServiceSoap">
    <wsdl:operation name="SalePaymentRequest">
      <wsdl:input message="tns:SalePaymentRequestSoapIn" />
      <wsdl:output message="tns:SalePaymentRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GovermentIdSaleServiceSoap" type="tns:GovermentIdSaleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalePaymentRequest">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService/SalePaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GovermentIdSaleServiceSoap12" type="tns:GovermentIdSaleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalePaymentRequest">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService/SalePaymentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GovermentIdSaleService">
    <wsdl:port name="GovermentIdSaleServiceSoap" binding="tns:GovermentIdSaleServiceSoap">
      <soap:address location="https://pec.shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService.asmx" />
    </wsdl:port>
    <wsdl:port name="GovermentIdSaleServiceSoap12" binding="tns:GovermentIdSaleServiceSoap12">
      <soap12:address location="https://pec.shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>