Project/Service References/TestIVO/divo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WS_Certificat_1_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestCodeList" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="WS_Certificat_1_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WS_Certificat_1_1Result" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="errorcode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_Certificat_1_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformaPerTraceCodeList" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_Certificat_1_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WS_Certificat_1_2Result" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="errorcode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_Certificat_1_4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestCodeList" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_Certificat_1_4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_Certificat_1_4Result" type="tns:ArrayOfLong" />
            <s:element minOccurs="1" maxOccurs="1" name="errorcode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_Certificat_1_1SoapIn">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_1" />
  </wsdl:message>
  <wsdl:message name="WS_Certificat_1_1SoapOut">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_1Response" />
  </wsdl:message>
  <wsdl:message name="WS_Certificat_1_2SoapIn">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_2" />
  </wsdl:message>
  <wsdl:message name="WS_Certificat_1_2SoapOut">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_2Response" />
  </wsdl:message>
  <wsdl:message name="WS_Certificat_1_4SoapIn">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_4" />
  </wsdl:message>
  <wsdl:message name="WS_Certificat_1_4SoapOut">
    <wsdl:part name="parameters" element="tns:WS_Certificat_1_4Response" />
  </wsdl:message>
  <wsdl:portType name="DIVOSoap">
    <wsdl:operation name="WS_Certificat_1_1">
      <wsdl:input message="tns:WS_Certificat_1_1SoapIn" />
      <wsdl:output message="tns:WS_Certificat_1_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_2">
      <wsdl:input message="tns:WS_Certificat_1_2SoapIn" />
      <wsdl:output message="tns:WS_Certificat_1_2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_4">
      <wsdl:input message="tns:WS_Certificat_1_4SoapIn" />
      <wsdl:output message="tns:WS_Certificat_1_4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DIVOSoap" type="tns:DIVOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_Certificat_1_1">
      <soap:operation soapAction="http://tempuri.org/WS_Certificat_1_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_2">
      <soap:operation soapAction="http://tempuri.org/WS_Certificat_1_2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_4">
      <soap:operation soapAction="http://tempuri.org/WS_Certificat_1_4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DIVOSoap12" type="tns:DIVOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_Certificat_1_1">
      <soap12:operation soapAction="http://tempuri.org/WS_Certificat_1_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_2">
      <soap12:operation soapAction="http://tempuri.org/WS_Certificat_1_2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Certificat_1_4">
      <soap12:operation soapAction="http://tempuri.org/WS_Certificat_1_4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DIVO">
    <wsdl:port name="DIVOSoap" binding="tns:DIVOSoap">
      <soap:address location="http://d.ivo.ir/divo.asmx" />
    </wsdl:port>
    <wsdl:port name="DIVOSoap12" binding="tns:DIVOSoap12">
      <soap12:address location="http://d.ivo.ir/divo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>