Project/Service References/PersonInfoServices/GetingPersonByNationalIdAndBirthDate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPersonInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BirthDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonInfoResult" type="tns:PersonInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="birthDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="civilRegistrationOfficeCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="deathDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fatherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="identityCertificateID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="identityCertificateSerial" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="identityCertificateSeries" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identityInformationExceptionMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nationalId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="volumeNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="volumeSeries" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Err" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lifeStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPersonImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardSerial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonImageResult" type="tns:PersonIamge" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonIamge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nationalId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Err" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="image" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonInfo" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonImage" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonImageResponse" />
  </wsdl:message>
  <wsdl:portType name="GetingPersonByNationalIdAndBirthDateSoap">
    <wsdl:operation name="GetPersonInfo">
      <wsdl:input message="tns:GetPersonInfoSoapIn" />
      <wsdl:output message="tns:GetPersonInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonImage">
      <wsdl:input message="tns:GetPersonImageSoapIn" />
      <wsdl:output message="tns:GetPersonImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetingPersonByNationalIdAndBirthDateSoap" type="tns:GetingPersonByNationalIdAndBirthDateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonInfo">
      <soap:operation soapAction="http://tempuri.org/GetPersonInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonImage">
      <soap:operation soapAction="http://tempuri.org/GetPersonImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetingPersonByNationalIdAndBirthDateSoap12" type="tns:GetingPersonByNationalIdAndBirthDateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPersonInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonImage">
      <soap12:operation soapAction="http://tempuri.org/GetPersonImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetingPersonByNationalIdAndBirthDate">
    <wsdl:port name="GetingPersonByNationalIdAndBirthDateSoap" binding="tns:GetingPersonByNationalIdAndBirthDateSoap">
      <soap:address location="http://10.7.1.40/getPersonInfo/GetingPersonByNationalIdAndBirthDate.asmx" />
    </wsdl:port>
    <wsdl:port name="GetingPersonByNationalIdAndBirthDateSoap12" binding="tns:GetingPersonByNationalIdAndBirthDateSoap12">
      <soap12:address location="http://10.7.1.40/getPersonInfo/GetingPersonByNationalIdAndBirthDate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>