Project/Service References/ReportIVO/OPSReport1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOPSDetailes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiceNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentTraceCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PayAmount" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPSDetailesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOPSDetailesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOPSDetailesSoapIn">
    <wsdl:part name="parameters" element="tns:GetOPSDetailes" />
  </wsdl:message>
  <wsdl:message name="GetOPSDetailesSoapOut">
    <wsdl:part name="parameters" element="tns:GetOPSDetailesResponse" />
  </wsdl:message>
  <wsdl:portType name="OPSReportSoap">
    <wsdl:operation name="GetOPSDetailes">
      <wsdl:input message="tns:GetOPSDetailesSoapIn" />
      <wsdl:output message="tns:GetOPSDetailesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OPSReportSoap" type="tns:OPSReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOPSDetailes">
      <soap:operation soapAction="http://tempuri.org/GetOPSDetailes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OPSReportSoap12" type="tns:OPSReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOPSDetailes">
      <soap12:operation soapAction="http://tempuri.org/GetOPSDetailes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OPSReport">
    <wsdl:port name="OPSReportSoap" binding="tns:OPSReportSoap">
      <soap:address location="http://d.ivo.ir/OPSReport.asmx" />
    </wsdl:port>
    <wsdl:port name="OPSReportSoap12" binding="tns:OPSReportSoap12">
      <soap12:address location="http://d.ivo.ir/OPSReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>